.rows{
  display: flex;
  flex-direction: column;
}

.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 100px;
}

.row2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 100px;
}
.row3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 100px;
}
#box1{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box2{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box3{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box4{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box5{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box6{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box7{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box8{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
#box9{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height:100px;
  width:100px;
  border-style: solid;
}
.reset{
  border-radius: 15px;
}
